<div class="header-top">
    <div class="header-left">
        <a href="/index.html">
            <h1>Keith's Pokémon Collection</h1>
        </a>
    </div>
    
    <div class="header-center">
        <div class="search-container">
            <!--Making autofill off because it just doesn't look good when I've tried to search for things I've already searched-->
            <input type="search" id="pokemon-search" placeholder="Search for a Pokemon..." autocomplete="off">
        </div>
    </div>
    
    <div class="header-right">
        <!--Removed Cart -->
    </div>
</div>
<div class="header-bottom">
    <button id="menu" aria-label="Toggle navigation menu">
        <span id="current-page-label">Home</span>
        <span class="chevron">▼</span>
    </button>
    <nav class="navigation">
        <a href="index.html" id="home">Home</a>
        <a href="pokemon.html" id="pokemon">Pokemon</a>
        <a href="collection.html" id="collection">My Collection</a>
        <a href="trading-guide.html" id="trading-guide">Trading Guide</a>
        <a href="trade.html" id="trade">Trade Request</a>
    </nav>
</div>